<div class="col-md-12 col-sm-12 col-xs-12 col-centered">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>
        职位列表
        <div class="pull-right">
          <%= link_to("Add a Job", new_admin_job_path, :class => "btn btn-default") %>
        </div>
      </h3>
    </div>
    <div class="panel-body">
      <%= render :partial => "job", :collection => @jobs, :as => :job %>
    </div>
  </div>
  <div class="text-center">
     <%= will_paginate @jobs %>
  </div>
</div>
